.border-light {
  border-color: #f1f5f8 !important;
}

.border-width-1px {
  border-width: 1px !important;
}

.border-width-top-1px {
  border-top-width: 1px !important;
}

.border-width-bottom-1px {
  border-bottom-width: 1px !important;
}

.border-width-left-1px {
  border-left-width: 1px !important;
}

.border-width-right-1px {
  border-right-width: 1px !important;
}

.border-width-2px {
  border-width: 2px !important;
}

.border-width-top-2px {
  border-top-width: 2px !important;
}

.border-width-bottom-2px {
  border-bottom-width: 2px !important;
}

.border-width-left-2px {
  border-left-width: 2px !important;
}

.border-width-right-2px {
  border-right-width: 2px !important;
}

.border-width-3px {
  border-width: 3px !important;
}

.border-width-top-3px {
  border-top-width: 3px !important;
}

.border-width-bottom-3px {
  border-bottom-width: 3px !important;
}

.border-width-left-3px {
  border-left-width: 3px !important;
}

.border-width-right-3px {
  border-right-width: 3px !important;
}

// .border-width-4px {
//   border-width: 4px !important;
// }

// .border-width-top-4px {
//   border-top-width: 4px !important;
// }

// .border-width-bottom-4px {
//   border-bottom-width: 4px !important;
// }

// .border-width-left-4px {
//   border-left-width: 4px !important;
// }

// .border-width-right-4px {
//   border-right-width: 4px !important;
// }

// .border-width-5px {
//   border-width: 5px !important;
// }

// .border-width-top-5px {
//   border-top-width: 5px !important;
// }

// .border-width-bottom-5px {
//   border-bottom-width: 5px !important;
// }

// .border-width-left-5px {
//   border-left-width: 5px !important;
// }

// .border-width-right-5px {
//   border-right-width: 5px !important;
// }

// .border-width-6px {
//   border-width: 6px !important;
// }

// .border-width-top-6px {
//   border-top-width: 6px !important;
// }

// .border-width-bottom-6px {
//   border-bottom-width: 6px !important;
// }

// .border-width-left-6px {
//   border-left-width: 6px !important;
// }

// .border-width-right-6px {
//   border-right-width: 6px !important;
// }

// .border-width-7px {
//   border-width: 7px !important;
// }

// .border-width-top-7px {
//   border-top-width: 7px !important;
// }

// .border-width-bottom-7px {
//   border-bottom-width: 7px !important;
// }

// .border-width-left-7px {
//   border-left-width: 7px !important;
// }

// .border-width-right-7px {
//   border-right-width: 7px !important;
// }

// .border-width-8px {
//   border-width: 8px !important;
// }

// .border-width-top-8px {
//   border-top-width: 8px !important;
// }

// .border-width-bottom-8px {
//   border-bottom-width: 8px !important;
// }

// .border-width-left-8px {
//   border-left-width: 8px !important;
// }

// .border-width-right-8px {
//   border-right-width: 8px !important;
// }

// .border-width-9px {
//   border-width: 9px !important;
// }

// .border-width-top-9px {
//   border-top-width: 9px !important;
// }

// .border-width-bottom-9px {
//   border-bottom-width: 9px !important;
// }

// .border-width-left-9px {
//   border-left-width: 9px !important;
// }

// .border-width-right-9px {
//   border-right-width: 9px !important;
// }

// .border-width-10px {
//   border-width: 10px !important;
// }

// .border-width-top-10px {
//   border-top-width: 10px !important;
// }

// .border-width-bottom-10px {
//   border-bottom-width: 10px !important;
// }

// .border-width-left-10px {
//   border-left-width: 10px !important;
// }

// .border-width-right-10px {
//   border-right-width: 10px !important;
// }

// .border-top {
//   border-top: 1px solid #d5d6d8;
// }

// .border-bottom {
//   border-bottom: 1px solid #d5d6d8;
// }

// .border-left {
//   border-left: 1px solid #d5d6d8;
// }

// .border-right {
//   border-right: 1px solid #d5d6d8;
// }

// .border-top-dotted {
//   border-top: 1px dotted #c3c4c7;
// }

// .border-bottom-dotted {
//   border-bottom: 1px dotted #c3c4c7;
// }

// .border-left-dotted {
//   border-left: 1px dotted #c3c4c7;
// }

// .border-right-dotted {
//   border-right: 1px dotted #c3c4c7;
// }

// .border-dashed {
//   border: 1px dashed #c3c4c7;
// }

// .border-radius-none {
//   border-radius: 0 !important;
// }

// .border-top-none {
//   border-top: none !important;
// }

// .border-bottom-none {
//   border-bottom: none !important;
// }
