// Color system

$white: #fff !default;
$gray-100: #ffffff !default;
$gray-200: #f8fafc !default;
$gray-300: #f1f5f8 !default;
$gray-400: #dae1e7 !default;
$gray-500: #b8c2cc !default;
$gray-600: #8795a1 !default;
$gray-700: #606f7b !default;
$gray-800: #3d4852 !default;
$gray-900: #22292f !default;
$black: #22292f !default;

$primary: #3490dc !default;
$secondary: $gray-600 !default;
$success: #38c172 !default;
$info: #4dc0b5 !default;
$warning: #f6993f !default;
$danger: #e3342f !default;
$light: $gray-200 !default;
$dark: $gray-800 !default;

$blue-100: #eff8ff !default;
$green-100: #e3fcec !default;
$red-100: #fcebea !default;
$yellow-100: #fff5eb !default;

$enable-responsive-font-sizes: true;
$font-family-sans-serif: "Inter UI";
$font-family-monospace: "Operator Mono", "Dank Mono", SFMono-Regular, Menlo,
  Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$border-color: $gray-400 !default;

$border-radius-sm: 0.375rem !default;
$border-radius: 0.375rem !default;
$border-radius-lg: 0.5rem !default;

$badge-padding-y: 0.35em !default;
$badge-padding-x: 0.5em !default;

$link-color: $primary !important;
// Remove this in production
// $link-decoration: underline wavy lighten($primary, 32%) !important;
$link-decoration: none !important;
$link-hover-color: darken($primary, 15%) !important;

$body-color: $gray-700;
$headings-color: $gray-900;

$box-shadow-sm: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !default;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !default;
$box-shadow-lg: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08) !default;

$list-group-hover-bg: $gray-200 !default;

$input-placeholder-color: $gray-500 !default;
$input-btn-padding-y: 0.475rem !default;
$input-btn-padding-x: 0.95rem !default; //0.75rem
$input-padding-y: 0.55rem;
// $input-btn-border-width: 2px !default;
$input-border-color: $gray-400 !default;
$input-btn-focus-box-shadow: none !default;
$input-border-width: 2px !default;
$input-focus-width: 0;
$input-focus-box-shadow: none !default;

$alert-border-width: 2px !default;

// Form Feedback Custom Icons
$form-feedback-icon-valid-color: $success;
$form-feedback-icon-invalid-color: $danger;
$form-feedback-icon-valid: str-replace(
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='#{$form-feedback-icon-valid-color}' d='M12,2C6.486,2,2,6.486,2,12c0,5.514,4.486,10,10,10s10-4.486,10-10C22,6.486,17.514,2,12,2z M10.001,16.413l-3.713-3.705 L7.7,11.292l2.299,2.295l5.794-5.794l1.414,1.414L10.001,16.413z'/%3E%3C/svg%3E"),
  "#",
  "%23"
) !default;

$form-feedback-icon-invalid: str-replace(
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='#{$form-feedback-icon-invalid-color}' d='M11.953,2C6.465,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.493,2,11.953,2z M13,17h-2v-2h2V17z M13,13h-2V7h2V13z'/%3E%3C/svg%3E"),
  "#",
  "%23"
) !default;

$custom-checkbox-indicator-border-radius: 4px !default;
